/* media-query */

@media screen and (min-width: 780px){
  
  .container{
    width: 780px;
  }

  .features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  .boxdemo{
    width: 70%;
  }

  .boxdemo #phone{
    height: 360px;
    position: static;
  }

  .box{
    width: 30%;
  }

  .row{
    flex-direction: row;
    align-items: flex-start;
  }

}

@media screen and (min-width: 1200px){

  header{
    background-color: #0084FD;
  }

  header .container{
    width: 1200px;
  }

  .container{
    width: 1200px;
  }

  .boxdemo{
    flex-wrap: nowrap;
    margin-top: 20px;
  }
}