/* media-query */

/* tablet */
@media screen and (min-width: 780px){
  
  .container{
    width: 780px;
  }

  .features{
    display: flex;
    flex-wrap: wrap;
  }

  .boxdemo{
    width: 70%;
  }

  .boxdemo #phone{
    height: 310px;
    position: static;
  }

  .box{
    width: 30%;
  }

  .row{
    flex-direction: row;
  }

  .planning{
    width: 100%;
  }

  .planning .planning-left h2{
    font-size: 3rem;
  }

  .testimonials .card{
    flex-direction: row;
    padding: 10px;
  }

  .testimonials .card img{
    margin: 0;
    padding: 20px;
  }

  .testimonials .card p{
   font-size: 1.3rem;
   margin: 0;
   align-self: center;
  }
  
  .benefits .boxcard{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
  }

  .benefits .cardben{
    width: 48%;
  }

  .about-us{
    flex-direction: row;
    gap: 50px;
  }

  .get-start{
    width: 100%;
  }

}


/* desktop */
@media screen and (min-width: 1200px){

  header{
    background-color: #0084FD;
  }

  header .container{
    width: 1200px;
  }

  header .container .mobilemenu{
    display: none;
  }

  header .menu{
    display: block;
  }

  .container{
    width: 1200px;
  }

  .boxdemo #phone{
    height: 390px;
    position: static;
  }

  .boxdemo{
    flex-wrap: nowrap;
  }

  .planning{
    flex-direction: row;
  }

  .planning-right{
    height: 540px;
    bottom: 20px;
    position: relative;
    top: 200px;
    right: 100px;
  }

  .planning .planning-left p{
    margin-right: 40%; 
  }

  .planning .planning-left img{
    width: 400px;
  }

  .planning .planning-right img{
    width: 200px;
    margin-left: 30%;
  }

  .testimonials .card{
    width: 100%;
  }

  .benefits .boxcard{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits .cardben{
    width: 30%;
  }

  .get-start{
    width: 100%;
  }
  
  .get-start p{
    width: 50%;
    margin: 0 auto;
  }
}