/* media-query */

/* tablet */
@media screen and (min-width: 780px){
  
  .container{
    width: 780px;
  }

  .features{
    display: flex;
    flex-wrap: wrap;
  }

  .boxdemo{
    width: 70%;
  }

  .boxdemo #phone{
    height: 310px;
    position: static;
  }

  .box{
    width: 30%;
  }

  .row{
    flex-direction: row;
  }

}


/* desktop */
@media screen and (min-width: 1200px){

  header{
    background-color: #0084FD;
  }

  header .container{
    width: 1200px;
  }

  header .container .mobilemenu{
    display: none;
  }

  header .menu{
    display: block;
  }

  .container{
    width: 1200px;
  }

  .boxdemo #phone{
    height: 390px;
    position: static;
  }

  .boxdemo{
    flex-wrap: nowrap;
  }

}