/* css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobile first */

body{
  font-family: 'Roboto', sans-serif;
}

/* utility */

.d-flex{
  display: flex;
}

.container{
  width: 375px;
}

